


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">

  <!-- Sidebar -->
  <div class="flex">
    <aside class="w-64 bg-white shadow-md full-screen">
      <div class="p-4 text-gray-800">
        <a routerLink="/home" routerLinkActive="active"><h1 class="text-2xl font-bold">Admin</h1></a>
        
      </div>
      <nav class="mt-5">
        <a routerLink="/admin/products/list" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">Dashboard</a>
        <a routerLink="/admin/products/user" href="user" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">Users</a>
        <a href="Settings" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">Settings</a>
        <a href="Logout" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-500 hover:text-white">Logout</a>
      </nav>
    </aside>

    <!-- Main content -->
    <div class="flex-1 flex flex-col">
      <!-- Header -->
      <app-header></app-header>

      <!-- Main Content -->
      <main class="p-4 flex-grow">
        <app-Product-list></app-Product-list>

      </main>
    </div>
  </div>

</body>
</html>

