<div class="mx-auto max-w-screen-xl px-4 py-3 sm:px-6 lg:px-8">
  <div
    *ngIf="deleteMessage"
    class="fixed top-4 right-4 p-4 bg-green-100 border border-green-400 text-green-700 rounded-md shadow-lg z-50"
  >
    {{ deleteMessage }}
  </div>
  <div class="mx-auto max-w-lg text-center">
    <h1 class="text-2xl font-bold sm:text-3xl">Thêm mới sản phẩm</h1>
  </div>

  <form
    (ngSubmit)="handleSubmit()"
    [formGroup]="productForm"
    action="#"
    class="mx-auto mb-0 mt-8 space-y-10"
  >
    <div class="">
      <!-- /Image// -->
      <div>
        <label for="thumbnail" class="">Ảnh sản phẩm</label>
        <div class="relative">
          <input
            type="text"
            placeholder="Nhập ảnh sản phẩm"
            id="thumbnail"
            formControlName="thumbnail"
            class="w-full rounded-lg border-gray-200 p-2 pe-12 text-sm shadow-sm"
          />
        </div>
        <div
          class="text-red-500 mt-1"
          *ngIf="
            !productForm.get('thumbnail')?.valid &&
            productForm.get('thumbnail')?.touched
          "
        >
          Bạn chưa thêm ảnh sản phẩm
        </div>
      </div>
      <!-- /Title// -->
      <div>
        <label for="title" class="mt-4">Tên sản phẩm</label>
        <div class="relative">
          <input
            type="text"
            placeholder="Nhập tên sản phẩm"
            id="title"
            formControlName="title"
            class="w-full rounded-lg border-gray-200 p-2 pe-12 text-sm shadow-sm"
          />
        </div>
        <div
          class="text-red-500 mt-1"
          *ngIf="
            !productForm.get('title')?.valid &&
            productForm.get('title')?.touched
          "
        >
          Tên sản phẩm không dưới 3 ký tự
        </div>
      </div>
      <!-- / Price// -->
      <div>
        <label for="price" class="mt-4">Giá</label>
        <div class="relative">
          <input
            type="number"
            placeholder="Nhập giá sản phẩm"
            id="price"
            formControlName="price"
            class="w-full rounded-lg border-gray-200 p-2 pe-12 text-sm shadow-sm"
          />
        </div>
        <div
          class="text-red-500 mt-1"
          *ngIf="
            !productForm.get('price')?.valid &&
            productForm.get('price')?.touched
          "
        >
          Vui lòng nhập giá sản phẩm
        </div>
      </div>
      <!-- /Stock// -->
      <div>
        <label for="stock" class="mt-4">Số lượng</label>
        <div class="relative">
          <input
            type="text"
            placeholder="Nhập số lượng sản phẩm"
            id="stock"
            formControlName="stock"
            class="w-full rounded-lg border-gray-200 p-2 pe-12 text-sm shadow-sm"
          />
        </div>
        <div
          class="text-red-500 mt-1"
          *ngIf="
            !productForm.get('stock')?.valid &&
            productForm.get('stock')?.touched
          "
        >
          Vui lòng nhập giá sản phẩm
        </div>
      </div>
      <!-- / Mô tả// -->
      <div class="md:col-span-2">
        <label for="description" class="mt-4">Mô tả</label>
        <div class="relative">
          <textarea
            placeholder="Nhập mô tả sản phẩm"
            id="description"
            formControlName="description"
            class="w-full rounded-lg border-gray-200 p-2 pe-12 text-sm shadow-sm"
            rows="6"
          ></textarea>
        </div>
        <div
          class="text-red-500 mt-1"
          *ngIf="
            !productForm.get('description')?.valid &&
            productForm.get('description')?.touched
          "
        >
          Vui lòng nhập mô tả không dưới 5 ký tự
        </div>
      </div>
      <!-- /Discount// -->
      <div>
        <label for="discountPercentage" class="mt-4">Mã giảm giá</label>
        <div class="relative">
          <input
            type="text"
            placeholder="Nhập số giảm giá sản phẩm"
            id="discountPercentage"
            formControlName="discountPercentage"
            class="w-full rounded-lg border-gray-200 p-2 pe-12 text-sm shadow-sm"
          />
        </div>
        <div
          class="text-red-500 mt-1"
          *ngIf="
            !productForm.get('discountPercentage')?.valid &&
            productForm.get('discountPercentage')?.touched
          "
        >
          Vui lòng nhập phiếu giảm giá
        </div>
      </div>

      <!-- /Rating// -->
      <div>
        <label for="rating" class="mt-4">Đánh giá</label>
        <div class="relative">
          <input
            type="text"
            placeholder="Nhập số sao đánh giá sản phẩm"
            id="rating"
            formControlName="rating"
            class="w-full rounded-lg border-gray-200 p-2 pe-12 text-sm shadow-sm"
          />
        </div>
        <div
          class="text-red-500 mt-1"
          *ngIf="
            !productForm.get('rating')?.valid &&
            productForm.get('rating')?.touched
          "
        >
          Vui lòng nhập đánh giá sản phẩm tối đa 5 sao
        </div>
      </div>
    </div>
    <!-- ////////////// -->
    <div class="flex items-center justify-between mt-4">
      <p class="text-sm text-gray-500">
        <a class="underline" href="/admin">Dashboard</a>
      </p>

      <button
        type="submit"
        class="inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white"
      >
        Xác nhận
      </button>
    </div>
  </form>
</div>
