<div
  class="d-flex min-vh-100 flex-column justify-content-center px-3 py-4 px-lg-4"
>
  <div class="mx-auto w-100" style="max-width: 300px">
    <h2 class="mt-4 text-center fw-bold">Đăng Nhập</h2>
  </div>

  <div class="mt-4 mx-auto w-100" style="max-width: 300px">
    <form
      [formGroup]="registerForm"
      (ngSubmit)="handleSubmit()"
      class="space-y-3"
    >
      <div class="mb-3">
        <label for="email" class="form-lable">Email eddress</label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          name="email"
        />
        <small
          *ngIf="registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched"
          class="text-danger"
          >Vui lòng nhập email
        </small>
        <small
          *ngIf="registerForm.get('email')?.errors?.['email'] && registerForm.get('email')?.touched"
          class="text-danger"
          >Vui lòng nhập lại email
        </small>
      </div>

      <div class="mb-3">
        <label for="password" class="form-lable">Password</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          name="password"
        />
        <small
          *ngIf="registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched"
          class="text-danger"
          >Vui lòng nhập mật khẩu
        </small>
        <small
          *ngIf="registerForm.get('password')?.errors?.['minlength'] && registerForm.get('password')?.touched"
          class="text-danger"
          >Mật khẩu phải trên 6 ký tự
        </small>
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-primary btn-block">
          Đăng nhập
        </button>
      </div>
    </form>
    <p class="mt-4 text-center">
      Bạn đã có tài khoản??
      <a [routerLink]="['/register']">Đăng ký</a>
    </p>
  </div>
</div>
