<div class="mt-20">
  <div class="card-header">
    <h4>Product list</h4>
  </div>
  <div class="row mb-2">
    <label class="col-2">Filter:</label>
    <input
      type="text"
      class="border-2"
      [(ngModel)]="filterValue"
      (input)="filter()"
    />
    <div class="col-7"></div>
  </div>
  <div class="row mb-4">
    <h2 class="col-12">Filter by:</h2>
  </div>
</div>
<div class="container3 mt-6">
  <div class="overflow-x-auto">
    <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
      <thead class="ltr:text-left rtl:text-right">
        <tr>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Image
          </th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Product
          </th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Code
          </th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Available
          </th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Price
          </th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            5 Star Rating
          </th>
        </tr>
      </thead>

      <tbody class="divide-y divide-gray-200" *ngFor="let product of products">
        <tr class="odd:bg-gray-50">
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">
            <img
              class="w-[90px]"
              [src]="product.imageUrl"
              alt=""
              [hidden]="!product.imageVisible"
            />
            <input
              type="checkbox"
              [(ngModel)]="product.imageVisible"
              (click)="toggleImageVisibility(product)"
            />
          </td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">
            {{ product.productName }}
          </td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">
            {{ product.productCode }}
          </td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">
            {{ product.releaseDate }}
          </td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">
            {{ product.price }}
          </td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">
            <div
              class="crop"
              [style.width.px]="(product.starRating * 90) / 5"
              title="rating"
            >
              <div style="width: 90px">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
