<header class="bg-white shadow p-4 flex justify-between items-center">
  <h2 class="text-xl font-semibold">Dashboard</h2>
  <div class="flex items-center space-x-4">
   
  </div>
</header>



<!-- <header class='bg-white py-4 fixed top-0 left-0 right-0 z-50 border-b border-black-500'>
    <div class=' ml-20 mr-20 flex items-center justify-between'>
      <div>
        <a routerLink="/home" routerLinkActive="active" class='hover:text-gray-300'>
          <img
            class='w-[100px]'
            src='https://upload.wikimedia.org/wikipedia/commons/1/1b/Logo-FPT-Shop-Black.png'
            alt=''
          />
        </a>
      </div>

      <nav class='hidden md:flex space-x-4'>
        <a routerLink="/home" routerLinkActive="active" class='hover:text-gray-300 text-[17px]'>
          Home
        </a>
        <a routerLink="/shop" routerLinkActive="active" class=' hover:text-gray-300 text-[17px]'>
          Shop
        </a>
        <a routerLink="/admin/products/list" class='hover:text-gray-300 text-[17px]'>
          Product List
        </a>
      </nav>

      <div class='ml-4'>
        <a routerLink="/login" routerLinkActive="active" class='hover:text-gray-300'>
          Đăng ký
        </a>
        <span class='mx-2'>|</span>
        <a routerLink="/register" routerLinkActive="active" class='hover:text-gray-300'>
          Đăng nhập
        </a>
      </div>
    </div>
  </header>


 -->







 